<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Business contacts</a>

	</div>
</nav>
<br>

<div class="container">
	<div class="row justify-content-between">

		<div class="col-md-3">
			<button class="btn btn-primary" type="button">Add business</button>
		</div>

		<div class="col-md-6">
			<label>Filter category
				<div class="btn-group" data-toggle="buttons" (click)="filterCategory($event)">
					<label class="btn btn-outline-primary active">
						<input type="radio" name="categories" id="none" autocomplete="off" checked>None
					</label>
					<label class="btn btn-outline-primary" *ngFor="let category of categories">
						<input type="radio" name="categories" id="{{category.name}}" autocomplete="off">
						{{category.name}}
					</label>
				</div>
			</label>
		</div>
	</div>

</div>


<div *ngIf="appState == 'extend'" class="container">
	<div class="row">
		<div class="col-md-12">
			<button (click)="changeState('default')"
					class="btn btn-warning" type="button">Go back</button>
		</div>
	</div>
	<br>

	<div *ngFor="let business of businesses">
		<div *ngIf="business.$key == activeKey">
			<div class="row">
				<div class="col-md-5 offset-md-1">
					<h3>{{business.company}}</h3>
					<p>Category: {{business.category}}</p>
					<p>Years in business: {{business.years_in_business}}</p>
					<p>{{business.description}}</p>
				</div>

				<div class="col-md-5 offset-md-1">
					<h4>Contact info</h4>
					<ul>
						<li><strong>Phone:</strong> {{business.phone}}</li>
						<li><strong>Email:</strong> {{business.email}}</li>
						<li><strong>Street:</strong> {{business.street_address}}</li>
						<li><strong>City:</strong> {{business.city}}</li>
						<li><strong>State:</strong> {{business.state}}</li>
						<li><strong>Zipcode:</strong> {{business.zipcode}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>

<div class="container">
	<div *ngIf="businesses">

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Company</th>
					<th>Category</th>
					<th>Phone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let business of businesses">
					<td>{{business.company}}</td>
					<td>{{business.category}}</td>
					<td>{{business.phone}}</td>
					<td>
						<button class="btn btn-sm btn-primary"
								(click)="changeState('extend', business.$key)"
								type="button" >More</button>
						<button class="btn btn-sm btn-secondary"
								type="button" >Edit</button>
						<button type="button" class="btn btn-sm btn-warning">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
