<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Business contacts</a>

	</div>
</nav>
<br>

<div class="container">
	<div class="row justify-content-between">

		<div class="col-md-3">
			<button class="btn btn-primary" (click)="changeState('add')"
					type="button">Add business</button>
		</div>

		<div class="col-md-6">
			<label>Filter category
				<div class="btn-group" data-toggle="buttons" (click)="filterCategory($event)">
					<label class="btn btn-outline-primary active">
						<input type="radio" name="categories" id="none" autocomplete="off" checked>None
					</label>
					<label class="btn btn-outline-primary" *ngFor="let category of categories">
						<input type="radio" name="categories" id="{{category.name}}" autocomplete="off">
						{{category.name}}
					</label>
				</div>
			</label>
		</div>
	</div>

</div>

<!-- ADD FORM -->
<div *ngIf="appState == 'add'" class="container">
	<div class="col-md-12">
		<h3>Add new business</h3>
		<form (submit)="addBusiness(
			company.value,
			description.value,
			category.value,
			years_in_business.value,
			street_address.value,
			city.value,
			state.value,
			zipcode.value,
			phone.value,
			email.value)">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Company name</label>
						<input type="text" class="form-control" #company>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Category</label>
						<select type="text" class="form-control" #category>
							<option value="0">Select</option>
							<option *ngFor="let category of categories"
									value="{{category.name}}">{{category.name}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Phone</label>
						<input type="text" class="form-control" #phone>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" #email>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Street address</label>
						<input type="text" class="form-control" #street_address>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>City</label>
						<input type="text" class="form-control" #city>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>State</label>
						<input type="text" class="form-control" #state>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Zipcode</label>
						<input type="text" class="form-control" #zipcode>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Years in business</label>
						<input type="number" class="form-control" #years_in_business>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" rows="3" #description></textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<input type="submit" class="float-md-right btn btn-success" value="Save business">
					<button (click)="changeState('default')" class="float-md-right btn btn-danger mr-1" type="button">Cancel</button>
				</div>
			</div>


		</form>
	</div>
	<br>
</div>

<!-- EDIT FORM -->
<div *ngIf="appState == 'edit'" class="container">
	<div class="col-md-12">
		<h3>Edit new business</h3>
		<form (submit)="updateBusiness()">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Company name</label>
						<input [(ngModel)]="activeCompany" name="activeCompany"
								type="text" class="form-control"
								#company>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Category</label>
						<select [(ngModel)]="activeCategory" name="activeCategory"
								type="text" class="form-control" #category>
							<option value="0">Select</option>
							<option *ngFor="let category of categories"
									value="{{category.name}}">{{category.name}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Phone</label>
						<input [(ngModel)]="activePhone" name="activePhone"
								type="text" class="form-control" #phone>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Email</label>
						<input [(ngModel)]="activeEmail" name="activeEmail"
								type="text" class="form-control" #email>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Street address</label>
						<input [(ngModel)]="activeStreetAddress" name="activeStreetAddress"
								type="text" class="form-control" #street_address>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>City</label>
						<input [(ngModel)]="activeCity" name="activeCity"
								type="text" class="form-control" #city>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>State</label>
						<input [(ngModel)]="activeState" name="activeState"
								type="text" class="form-control" #state>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Zipcode</label>
						<input [(ngModel)]="activeZipcode" name="activeZipcode"
								type="text" class="form-control" #zipcode>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Years in business</label>
						<input [(ngModel)]="activeYearsInBusiness" name="activeYearsInBusiness"
								type="number" class="form-control" #years_in_business>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Description</label>
						<textarea [(ngModel)]="activeDescription" name="activeDescription"
									class="form-control" rows="3" #description></textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<input type="submit" class="float-md-right btn btn-success" value="Save business">
					<button (click)="changeState('default')" class="float-md-right btn btn-danger mr-1" type="button">Cancel</button>
				</div>
			</div>


		</form>
	</div>
	<br>
</div>

<div *ngIf="appState == 'extend'" class="container">
	<div class="row">
		<div class="col-md-12">
			<button (click)="changeState('default')"
					class="btn btn-warning" type="button">Go back</button>
		</div>
	</div>
	<br>

	<div *ngFor="let business of businesses">
		<div *ngIf="business.$key == activeKey">
			<div class="row">
				<div class="col-md-5 offset-md-1">
					<h3>{{business.company}}</h3>
					<p>Category: {{business.category}}</p>
					<p>Years in business: {{business.years_in_business}}</p>
					<p>{{business.description}}</p>
				</div>

				<div class="col-md-5 offset-md-1">
					<h4>Contact info</h4>
					<ul>
						<li><strong>Phone:</strong> {{business.phone}}</li>
						<li><strong>Email:</strong> {{business.email}}</li>
						<li><strong>Street:</strong> {{business.street_address}}</li>
						<li><strong>City:</strong> {{business.city}}</li>
						<li><strong>State:</strong> {{business.state}}</li>
						<li><strong>Zipcode:</strong> {{business.zipcode}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>

<div class="container">
	<div *ngIf="businesses">

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Company</th>
					<th>Category</th>
					<th>Phone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let business of businesses">
					<td>{{business.company}}</td>
					<td>{{business.category}}</td>
					<td>{{business.phone}}</td>
					<td>
						<button class="btn btn-sm btn-primary"
								(click)="changeState('extend', business.$key)"
								type="button" >More</button>
						<button class="btn btn-sm btn-secondary"
								(click)="showEdit(business)"
								type="button" >Edit</button>
						<button type="button" class="btn btn-sm btn-warning">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
